# **Titanic Dataset**

In [29]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns 
import matplotlib.pyplot as plt

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

# **1. Understanding Dataset**

In [30]:
train_data = pd.read_csv("/kaggle/input/titanic/train.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [31]:
test_data = pd.read_csv("/kaggle/input/titanic/test.csv")
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [32]:
train_data.shape, test_data.shape

((891, 12), (418, 11))

In [33]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [34]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [35]:
train_data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [36]:
test_data.isna().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [37]:
train_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [38]:
train_data.describe(include=['O'])

                           Name   Sex  Ticket    Cabin Embarked
count                       891   891     891      204      889
unique                      891     2     681      147        3
top     Braund, Mr. Owen Harris  male  347082  B96 B98        S
freq                          1   577       7        4      644

# **2. Data Cleaning and Data Transform**

In [39]:
train_data = train_data.drop(['Ticket', 'Cabin'], axis=1)
test_data = test_data.drop(['Ticket', 'Cabin'], axis=1)

In [40]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500,S

In [41]:
print("Number of people embarking in Southampton (S):")
southampton = train_data[train_data["Embarked"] == "S"].shape[0]
print(southampton)

print("Number of people embarking in Cherbourg (C):")
cherbourg = train_data[train_data["Embarked"] == "C"].shape[0]
print(cherbourg)

print("Number of people embarking in Queenstown (Q):")
queenstown = train_data[train_data["Embarked"] == "Q"].shape[0]
print(queenstown)

Number of people embarking in Southampton (S):
644
Number of people embarking in Cherbourg (C):
168
Number of people embarking in Queenstown (Q):
77

In [42]:
train_data = train_data.fillna({"Embarked": "S"})

In [43]:
# Create a combined group of both datasets
combine = [train_data, test_data]

In [44]:
for dataset in combine:
    dataset['Title'] = dataset.Name.str.extract(' ([A-Za-z]+)\.', expand=False)

pd.crosstab(train_data['Title'], train_data['Sex'])

Sex       female  male
Title
Capt           0     1
Col            0     2
Countess       1     0
Don            0     1
Dr             1     6
Jonkheer       0     1
Lady           1     0
Major          0     2
Master         0    40
Miss         182     0
Mlle           2     0
Mme            1     0
Mr             0   517
Mrs          125     0
Ms             1     0
Rev            0     6
Sir            0     1

In [45]:
# Replace various titles with more common names
for dataset in combine:
    dataset['Title'] = dataset['Title'].replace(['Lady', 'Capt', 'Col',
    'Don', 'Dr', 'Major', 'Rev', 'Jonkheer', 'Dona'], 'Rare')
    
    dataset['Title'] = dataset['Title'].replace(['Countess', 'Lady', 'Sir'], 'Royal')
    dataset['Title'] = dataset['Title'].replace('Mlle', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Ms', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Mme', 'Mrs')

train_data[['Title', 'Survived']].groupby(['Title'], as_index=False).mean()

    Title  Survived
0  Master  0.575000
1    Miss  0.702703
2      Mr  0.156673
3     Mrs  0.793651
4    Rare  0.285714
5   Royal  1.000000

In [46]:
title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Royal": 5, "Rare": 6}
for dataset in combine:
    dataset['Title'] = dataset['Title'].map(title_mapping)
    dataset['Title'] = dataset['Title'].fillna(0)

train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked,Title
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833,C,3
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250,S,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000,S,3
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500,S,1

In [47]:
#sort the ages into logical categories
train_data["Age"] = train_data["Age"].fillna(-0.5)
test_data["Age"] = test_data["Age"].fillna(-0.5)
bins = [-1, 0, 5, 12, 18, 24, 35, 60, np.inf]
labels = ['Unknown', 'Baby', 'Child', 'Teenager', 'Student', 'Young Adult', 'Adult', 'Senior']
train_data['AgeGroup'] = pd.cut(train_data["Age"], bins, labels = labels)
test_data['AgeGroup'] = pd.cut(test_data["Age"], bins, labels = labels)

In [48]:
# Fill missing age with mode age group for each title
mr_age = train_data[train_data["Title"] == 1]["AgeGroup"].mode() #Young Adult
miss_age = train_data[train_data["Title"] == 2]["AgeGroup"].mode() #Student
mrs_age = train_data[train_data["Title"] == 3]["AgeGroup"].mode() #Adult
master_age = train_data[train_data["Title"] == 4]["AgeGroup"].mode() #Baby
royal_age = train_data[train_data["Title"] == 5]["AgeGroup"].mode() #Adult
rare_age = train_data[train_data["Title"] == 6]["AgeGroup"].mode() #Adult

age_title_mapping = {1: "Young Adult", 2: "Student", 3: "Adult", 4: "Baby", 5: "Adult", 6: "Adult"}

# Updating AgeGroup in train_data using .loc
train_data.loc[train_data["AgeGroup"] == "Unknown", "AgeGroup"] = train_data.loc[train_data["AgeGroup"] == "Unknown", "Title"].map(age_title_mapping)

# Updating AgeGroup in test_data using .loc
test_data.loc[test_data["AgeGroup"] == "Unknown", "AgeGroup"] = test_data.loc[test_data["AgeGroup"] == "Unknown", "Title"].map(age_title_mapping)

In [49]:
# Map each Age value to a numerical value
age_mapping = {'Baby': 1, 'Child': 2, 'Teenager': 3, 'Student': 4, 'Young Adult': 5, 'Adult': 6, 'Senior': 7}
train_data['AgeGroup'] = train_data['AgeGroup'].map(age_mapping)
test_data['AgeGroup'] = test_data['AgeGroup'].map(age_mapping)

train_data = train_data.drop(['Age'], axis = 1)
test_data = test_data.drop(['Age'], axis = 1)


train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Fare,Embarked,Title,AgeGroup
0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,7.2500,S,1,4.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1,0,71.2833,C,3,6.0
2,3,1,3,"Heikkinen, Miss. Laina",female,0,0,7.9250,S,2,5.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,1,0,53.1000,S,3,5.0
4,5,0,3,"Allen, Mr. William Henry",male,0,0,8.0500,S,1,5.0

In [50]:
# Drop the name feature since it contains no more useful information.

train_data = train_data.drop(['Name'], axis = 1)
test_data = test_data.drop(['Name'], axis = 1)

In [51]:
# Map each Sex value to a numerical value
sex_mapping = {"male": 0, "female": 1}
train_data['Sex'] = train_data['Sex'].map(sex_mapping)
test_data['Sex'] = test_data['Sex'].map(sex_mapping)

train_data.head()

,PassengerId,Survived,Pclass,Sex,SibSp,Parch,Fare,Embarked,Title,AgeGroup
0,1,0,3,0,1,0,7.2500,S,1,4.0
1,2,1,1,1,1,0,71.2833,C,3,6.0
2,3,1,3,1,0,0,7.9250,S,2,5.0
3,4,1,1,1,1,0,53.1000,S,3,5.0
4,5,0,3,0,0,0,8.0500,S,1,5.0

In [52]:
# Map each Embarked value to a numerical value
embarked_mapping = {"S": 1, "C": 2, "Q": 3}
train_data['Embarked'] = train_data['Embarked'].map(embarked_mapping)
test_data['Embarked'] = test_data['Embarked'].map(embarked_mapping)

train_data.head()

,PassengerId,Survived,Pclass,Sex,SibSp,Parch,Fare,Embarked,Title,AgeGroup
0,1,0,3,0,1,0,7.2500,1,1,4.0
1,2,1,1,1,1,0,71.2833,2,3,6.0
2,3,1,3,1,0,0,7.9250,1,2,5.0
3,4,1,1,1,1,0,53.1000,1,3,5.0
4,5,0,3,0,0,0,8.0500,1,1,5.0

In [53]:
# Fill in missing Fare value in test set based on mean fare for that Pclass
for x in range(len(test_data["Fare"])):
    if pd.isnull(test_data.loc[x, "Fare"]):
        pclass = test_data.loc[x, "Pclass"]  # Pclass = 3
        test_data.loc[x, "Fare"] = round(train_data[train_data["Pclass"] == pclass]["Fare"].mean(), 4)

# Map Fare values into groups of numerical values
train_data['FareBand'] = pd.qcut(train_data['Fare'], 4, labels=[1, 2, 3, 4])
test_data['FareBand'] = pd.qcut(test_data['Fare'], 4, labels=[1, 2, 3, 4])

# Drop Fare values
train_data = train_data.drop(['Fare'], axis=1)
test_data = test_data.drop(['Fare'], axis=1)

In [54]:
test_data.head()

   PassengerId  Pclass  Sex  SibSp  Parch  Embarked  Title  AgeGroup FareBand
0          892       3    0      0      0         3      1       5.0        1
1          893       3    1      1      0         1      3       6.0        1
2          894       2    0      0      0         3      1       7.0        2
3          895       3    0      0      0         1      1       5.0        2
4          896       3    1      1      1         1      3       4.0        2

# **3. Machine Learning Models**

In [55]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

predictors = train_data.drop(['Survived', 'PassengerId'], axis=1)
target = train_data["Survived"]
x_train, x_val, y_train, y_val = train_test_split(predictors, target, test_size = 0.22, random_state = 0)

# **3.1 Gradient Boosting Classifier**

In [56]:
from sklearn.ensemble import GradientBoostingClassifier

gbk = GradientBoostingClassifier()
gbk.fit(x_train, y_train)
y_pred = gbk.predict(x_val)
acc_gbk = round(accuracy_score(y_pred, y_val) * 100, 2)

print(f"Accuracy of Gradient Boosting Classifier: {acc_gbk}%")

Accuracy of Gradient Boosting Classifier: 83.25%

# **3.2 Logistic Regression**

In [57]:
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()
logreg.fit(x_train, y_train)
y_pred = logreg.predict(x_val)
acc_logreg = round(accuracy_score(y_pred, y_val) * 100, 2)

print(f"Accuracy of Logistic Regression: {acc_logreg}%")

Accuracy of Logistic Regression: 79.7%

# **3.3 Decision Tree**

In [58]:
from sklearn.tree import DecisionTreeClassifier

decisiontree = DecisionTreeClassifier()
decisiontree.fit(x_train, y_train)
y_pred = decisiontree.predict(x_val)
acc_decisiontree = round(accuracy_score(y_pred, y_val) * 100, 2)

print(f"Accuracy of Decision Tree: {acc_decisiontree}%")

Accuracy of Decision Tree: 82.23%

# **3.4 Random Forest**

In [59]:
from sklearn.ensemble import RandomForestClassifier

randomforest = RandomForestClassifier()
randomforest.fit(x_train, y_train)
y_pred = randomforest.predict(x_val)
acc_randomforest = round(accuracy_score(y_pred, y_val) * 100, 2)

print(f"Accuracy of Random Forest: {acc_randomforest}%")

Accuracy of Random Forest: 83.25%

# **3.5 Support Vector Machine**

In [60]:
from sklearn.svm import SVC

svc = SVC()
svc.fit(x_train, y_train)
y_pred = svc.predict(x_val)
acc_svc = round(accuracy_score(y_pred, y_val) * 100, 2)

print(f"Accuracy of Support Vector Machine: {acc_svc}%")

Accuracy of Support Vector Machine: 83.25%

# **3.6 K-Nearest Neighbors**

In [61]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()
knn.fit(x_train, y_train)
y_pred = knn.predict(x_val)
acc_knn = round(accuracy_score(y_pred, y_val) * 100, 2)

print(f"Accuracy of K-Nearest Neighbors: {acc_knn}%")

Accuracy of K-Nearest Neighbors: 82.23%

# **3.7 Stacking Classifier**

In [62]:
from sklearn.ensemble import StackingClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import numpy as np

# Define the base models
estimators = [
    ('gbk', gbk),
    ('randomforest', randomforest),
    ('svc', svc),
    ('knn', knn),
  #  ('rfc', model_rfc)
]

# Create the stacking classifier
stacking_model = StackingClassifier(estimators=estimators, final_estimator=RandomForestClassifier())

# Train the stacking model
stacking_model.fit(x_train, y_train)

# Make predictions on the test set
y_pred = stacking_model.predict(x_val)

# Evaluate the model's performance
acc_stk = round(accuracy_score(y_pred, y_val) * 100, 2)

print(f"Accuracy of Stacking Classifier: {acc_stk}%")

Accuracy of Stacking Classifier: 81.73%

# **3.8 Voting Classifier**

In [63]:
from sklearn.ensemble import VotingClassifier
from sklearn.model_selection import cross_val_score

# Create a voting classifier with the four models
voting_classifier = VotingClassifier(estimators=[
    ('gbk', gbk),
    ('randomforest', randomforest),
    ('svc', svc),
    ('knn', knn),
   # ('rfc', model_rfc)
], voting='hard')  # 'hard' for majority vote

# Train the voting classifier
voting_classifier.fit(x_train, y_train)

# Make predictions with the voting classifier
y_pred = voting_classifier.predict(x_val)

# Evaluate the model's performance
acc_vot = round(accuracy_score(y_pred, y_val) * 100, 2)

print(f"Accuracy of Voting Classifier: {acc_vot}%")

Accuracy of Voting Classifier: 85.79%

# **3.9 AdaBoost Classifier**

In [64]:
from sklearn.ensemble import AdaBoostClassifier

# Assuming you already have your X_train, y_train, X_val, and y_val data split

# Create and fit the AdaBoost Classifier
abc = AdaBoostClassifier()
abc.fit(x_train, y_train)

# Make predictions on the validation set
y_pred = abc.predict(x_val)

# Calculate accuracy score
from sklearn.metrics import accuracy_score
acc_abc = round(accuracy_score(y_pred, y_val) * 100, 2)

print(f"Accuracy of AdaBoost Classifier: {acc_abc}%")

Accuracy of AdaBoost Classifier: 82.74%

In [65]:
models = pd.DataFrame({
    'Model': ['Gradient Boosting Classifier', 'Logistic Regression', 'Decision Tree',
              'Random Forest', 'Support Vector Machine', 'K-Nearest Neighbors', 'Stacking Classifier', 
               'Voting Classifier', 'AdaBoost Classifier'],
    'Score': [acc_gbk , acc_logreg, acc_decisiontree, acc_randomforest, acc_svc,
              acc_knn, acc_stk, acc_vot, acc_abc]})
models.sort_values(by='Score', ascending=False)

                          Model  Score
7             Voting Classifier  85.79
0  Gradient Boosting Classifier  83.25
3                 Random Forest  83.25
4        Support Vector Machine  83.25
8           AdaBoost Classifier  82.74
2                 Decision Tree  82.23
5           K-Nearest Neighbors  82.23
6           Stacking Classifier  81.73
1           Logistic Regression  79.70

# **4. Submission File**

In [66]:
# Set ids as PassengerId and predict survival 
ids = test_data['PassengerId']
predictions = gbk.predict(test_data.drop('PassengerId', axis=1))

# Set the output as a dataframe and convert to csv file named submission.csv
output = pd.DataFrame({ 'PassengerId' : ids, 'Survived': predictions })
output.to_csv('submission.csv', index=False)